body, html {
    width: 100%;
    height: 100%; 
    overflow: hidden;
    font-family: 'New Tegomin', serif;
}

.wrapper{
    width: 68vmin; 
    margin: 0 auto; 
    background-color:#aaaca8;
}
.panel{
    width: 100%;
    height: 10vmin;
    background-color: rgb(95, 64, 29);
    display: flex;
    justify-content: center;
    align-items: center;
}
.gold{
    position: relative;
    width: 5vmin;
    height: 5vmin;
    text-align: center;
    font-size: 3.5vmin;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
.gold:before{
    content: '';
    position: absolute;
    top: 0;
    right: -5vmin;
    width: 5vmin;
    height: 5vmin;
    background-image: url(../img/coin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.grid {
    width: 100%;
    height: 68vmin; 
    position: relative;
}
.cell{
    width: 20vmin;
    height: 20vmin;
    margin: 2vmin 2vmin 0 0;
    background-color: #c5c6be;
    float: left;
}
.cell:nth-child(3n+1) {
    margin-left: 2vmin;
}
.number{
    position: absolute;
    height: 20vmin;
    width: 20vmin;
    font-size: 3.5vmin;
    font-weight: bold;
    text-align: center;
    line-height: 5vmin;
    color: #fff;
    transition: all .3s;
    background-image: url(../img/orc.svg);
    background-size: 65%;
    background-position: center;
    background-color: #383636;
    background-repeat: no-repeat;
}
.heal{
    position: absolute;
    height: 20vmin;
    width: 20vmin;
    font-size: 3.5vmin;
    font-weight: bold;
    text-align: center;
    line-height: 5vmin;
    background-image: url(../img/beer-mug.svg);
    background-size: 60%;
    background-position: center;
    background-color: #383636;
    background-repeat: no-repeat;
    color: #fff;
    transition: all .3s;
}
.weapon{
    position: absolute;
    height: 20vmin;
    width: 20vmin;
    font-size: 3.5vmin;
    font-weight: bold;
    text-align: center;
    line-height: 5vmin;
    color: #fff;
    transition: all .3s;
    z-index: 3;
    background-image: url(../img/axe.svg);
    background-size: 62%;
    background-color: #383636;
    background-repeat: no-repeat;
    background-position: center;
}
.coin{
    position: absolute;
    height: 20vmin;
    width: 20vmin;
    font-size: 3.5vmin;
    font-weight: bold;
    text-align: center;
    line-height: 5vmin;
    color: #fff;
    transition: all .3s;
    z-index: 3;
    background-image: url(../img/coin.svg);
    background-size: 50%;
    background-color: #383636;
    background-repeat: no-repeat;
    background-position: center;
}
.hero{
    position: absolute;
    height: 20vmin;
    width: 20vmin;
    font-size: 3.5vmin;
    font-weight: bold;
    text-align: center;
    line-height: 5vmin;
    color: #fff;
    transition: all .3s;
    z-index: 3;
    background-image: url(../img/bigfoot.svg);
    background-size: 65%;
    background-color: #383636;
    background-repeat: no-repeat;
    background-position: center;
}
.card__wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
.health{
    position: absolute;
    top: 0.5vmin;
    right: 0.5vmin;
    width: 5vmin;
    height: 5vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/heart.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.value{
    position: absolute;
    top: 0.5vmin;
    right: 0.5vmin;
    width: 5vmin;
    height: 5vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}
.attack{
    position: absolute;
    bottom: 0;
    left: 1.5vmin;
    width: 5vmin;
    height: 5vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1.5vmin;
}
.attack::before{
    content: '';
    position: absolute;
    bottom: 0.5vmin;
    left: 0;
    width: 3.5vmin;
    height: 3.5vmin;
    background-image: url(../img/icon-sword2.png);
    background-size: cover;
    transform: scale(-1, 1);
    transform: rotate(-80deg);
}
