*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
img {max-width: 100%;}
body, html {
    font-family: 'New Tegomin';
    background-image: url(../img/cave.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
}
.container{
    width: 90vmax; 
    margin: 0 auto; 
    position: relative;
}
.modalGameOver{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.596);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #854b25;
    width: 75vmin;
    height: 40vmin; 
    border-radius: 2vmin;
    font-size: 10vmin;
}
.modal p{
    margin-top: 2vmin;
    font-size: 8vmin;  
}
.yes{
    font-size: 5vmin;
    line-height: 5vmin;
    border-radius: 1vmin;
    padding: 1vmin;
    background-color: transparent;
    border: 2px solid black;
    transition: background-color 0.5s;
}
.yes:hover{
    background-color: green;
}
.book__container{
    background-color: rgb(70, 45, 17);
    position: absolute;
    top: 3vmin;
    left: 0;
    width: 43vmin;
    border-radius: 1vmin;
    height: 12vmin;
    transition: 0.6s;
    overflow: hidden;
}
.book-active{
    height: 55vmin;
}
.book__head{
    margin: 1vmin auto 1vmin;
    width: 40vmin;
    height: 10vmin;
    background-color: rgb(95, 64, 29);
    border-radius: 1vmin;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.book__img{
    width: 5vmax;
    height: 10vmin;
    padding-left: 2vmin;
    display: flex;
    align-items: center;
}
.book__title{
    margin: 0;
    color: white;
    text-align: center;
    font-size: 3.2vmin;
    line-height: 3.4vmin;
    font-family: 'Balsamiq Sans';
}
.book__items{
   display: flex;
   flex-direction: column;
}
.book__item{
    width: 40vmin;
    height: 20vmin;
    background-color: rgb(95, 64, 29);
    border-radius: 1vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1vmin;
}
.orc__title{
    padding: 1vmin;
    width: 30vmin;
    margin: 0;
    color: white;
    text-align: center;
    font-size: 2.5vmin;
    line-height: 3.4vmin;
    font-family: 'Balsamiq Sans';
}
.wrapper{
    width: 68vmin; 
    margin: 0 auto; 
    padding-top: 3vmin;
}
.panel{
    border-top-left-radius: 1vmin;
    border-top-right-radius: 1vmin;
    width: 100%;
    height: 10vmin;
    background-color: rgb(95, 64, 29);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.character{
    width: 7vmin;
    height: 7vmin;
    background-image: url(../img/werewolf.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}
.character span{
    position: absolute;
    bottom: 0vmin;
    right: -1vmin;
    width: 3vmin;
    height: 3vmin;
    background-image: url(../img/coin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-weight: 900;
    font-size: 12px;
    color: rgb(68, 53, 53);
    display: flex;
    align-items: center;
    justify-content: center;
}

.character:hover{
    transform: scale(1.1);
}
.gold{
    position: relative;
    width: 5vmin;
    height: 5vmin;
    text-align: center;
    font-size: 3.5vmin;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
.gold:before{
    content: '';
    position: absolute;
    top: 0;
    right: -5vmin;
    width: 5vmin;
    height: 5vmin;
    background-image: url(../img/coin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.grid {
    width: 100%;
    height: 68vmin; 
    position: relative;
    background-color:#272925;
    cursor: url('../img/cursorWarcraftMen.png'), auto;
}
.grid:active{
    cursor: url('../img/cursorActiveBig.png'), auto;
}
.cell{
    width: 20vmin;
    height: 20vmin;
    margin: 2vmin 2vmin 0 0;
    float: left;
}
.cell:nth-child(3n+1) {
    margin-left: 2vmin;
}
.number{
    position: absolute;
    height: 20vmin;
    width: 20vmin;
    font-size: 3.5vmin;
    font-weight: bold;
    text-align: center;
    line-height: 5vmin;
    color: #fff;
    transition: all .2s ease-in-out;
    background-image: url(../img/orc.svg);
    background-size: 65%;
    background-position: center;
    background-color: #383636;
    background-repeat: no-repeat;
}
.ghost{
    position: absolute;
    height: 20vmin;
    width: 20vmin;
    font-size: 3.5vmin;
    font-weight: bold;
    text-align: center;
    line-height: 5vmin;
    color: #fff;
    transition: all .2s ease-in-out;
    background-image: url(../img/ghost.svg);
    background-size: 60%;
    background-position: center;
    background-color: #383636;
    background-repeat: no-repeat;
}
.giant{
    position: absolute;
    height: 20vmin;
    width: 20vmin;
    font-size: 3.5vmin;
    font-weight: bold;
    text-align: center;
    line-height: 5vmin;
    color: #fff;
    transition: all .2s ease-in-out;
    background-image: url(../img/troll.svg);
    background-size: 70%;
    background-position: center;
    background-color: #383636;
    background-repeat: no-repeat;
}
.yeti {
    position: absolute;
    height: 20vmin;
    width: 20vmin;
    font-size: 3.5vmin;
    font-weight: bold;
    text-align: center;
    line-height: 5vmin;
    color: #fff;
    transition: all .2s ease-in-out;
    background-image: url(../img/yeti.svg);
    background-size: 70%;
    background-position: center;
    background-color: #383636;
    background-repeat: no-repeat;
}
.mountain{
    position: absolute;
    height: 20vmin;
    width: 20vmin;
    font-size: 3.5vmin;
    font-weight: bold;
    text-align: center;
    line-height: 5vmin;
    color: #fff;
    transition: all .2s ease-in-out;
    background-image: url(../img/mountain.svg);
    background-size: 85%;
    background-position: center;
    background-color: #383636;
    background-repeat: no-repeat;
}
.heal{
    position: absolute;
    height: 20vmin;
    width: 20vmin;
    font-size: 3.5vmin;
    font-weight: bold;
    text-align: center;
    line-height: 5vmin;
    background-image: url(../img/beer-mug.svg);
    background-size: 60%;
    background-position: center;
    background-color: #383636;
    background-repeat: no-repeat;
    color: #fff;
    transition: all .2s ease-in-out;
}
.weapon{
    position: absolute;
    height: 20vmin;
    width: 20vmin;
    font-size: 3.5vmin;
    font-weight: bold;
    text-align: center;
    line-height: 5vmin;
    color: #fff;
    transition: all .2s ease-in-out;
    background-image: url(../img/axe.svg);
    background-size: 62%;
    background-color: #383636;
    background-repeat: no-repeat;
    background-position: center;
}
.weapon_equip{
    position: absolute;
    height: 20vmin;
    width: 20vmin;
    background-image: url(../img/axe.svg);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: 95% 70%;
}
.coin{
    position: absolute;
    height: 20vmin;
    width: 20vmin;
    font-size: 3.5vmin;
    font-weight: bold;
    text-align: center;
    line-height: 5vmin;
    color: #fff;
    transition: all .2s ease-in-out;
    background-image: url(../img/coin.svg);
    background-size: 50%;
    background-color: #383636;
    background-repeat: no-repeat;
    background-position: center;
}
.card_rotate{
    transform: rotateY(90deg);
}
.card_rotate0{
    transform: rotateY(0deg);
}
.card_scale{
    transform: scale(0);
}
.poison{
    position: absolute;
    height: 20vmin;
    width: 20vmin;
    font-size: 3.5vmin;
    font-weight: bold;
    text-align: center;
    line-height: 5vmin;
    color: #fff;
    transition: all .2s ease-in-out;
    background-image: url(../img/potion.svg);
    background-size: 60%;
    background-color: #383636;
    background-repeat: no-repeat;
    background-position: center;
}
.hero{
    position: absolute;
    height: 20vmin;
    width: 20vmin;
    font-size: 3.5vmin;
    font-weight: bold;
    text-align: center;
    line-height: 5vmin;
    color: #fff;
    transition: all .2s linear;
    background-image: url(../img/bigfoot.svg);
    background-size: 65%;
    background-color: #383636;
    background-repeat: no-repeat;
    background-position: center;
}
.card__wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
.health{
    position: absolute;
    top: 0.5vmin;
    right: 0.5vmin;
    width: 5vmin;
    height: 5vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s;
}
.value{
    position: absolute;
    top: 0.5vmin;
    right: 0.5vmin;
    width: 5vmin;
    height: 5vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}
.attack{
    position: absolute;
    bottom: 0;
    left: 1.5vmin;
    width: 5vmin;
    height: 5vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1.5vmin;
}
.attack::before{
    content: '';
    position: absolute;
    bottom: 0.5vmin;
    left: 0;
    width: 3.5vmin;
    height: 3.5vmin;
    background-image: url(../img/icon-sword2.png);
    background-size: cover;
    transform: scale(-1, 1);
    transform: rotate(-80deg);
}
.poisoned {
    position: relative;
    width: 100%;
    height: 100%;
}
.poisoned::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/poisonc5t.gif);
    background-size: cover;
    background-position: center;
}
.slash_attack {
    position: relative;
    width: 100%;
    height: 100%;
}
.slash_attack::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/slashOAttck.gif);
    background-size: cover;
    background-position: center;
}